@font-face {
  font-family: PixelMplus12-Bold-subset;
  src: url("/PixelMplus12-Bold-subset.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

body {
  background-color: #fc5594;
  margin: 0;
  font-family: PixelMplus12-Bold-subset;
}

main {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  background: #f4f3c5;
}

.se-button-wrapper {
  display: flex;
  width: 440px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.se-button {
  width: 200px;
  height: 70px;
  background-color: #e30b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.se-button:not(:nth-last-child(-n + 2)) {
  margin-bottom: 40px;
}

.se-box {
  /* from: https://github.com/nostalgic-css/NES.css */
  border-color: #444;
  border-style: solid;
  border-width: 4px;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(68, 68, 68)" /></svg>');
  border-image-outset: 2;
}

@media screen and (max-width: 400px) {
  body {
    height: auto;
    padding: 30px 0;
  }

  .se-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: initial;
  }

  .se-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
  }

  .se-button:not(:last-child) {
    margin-bottom: 20px;
  }
}

.nes-mario {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 96px;
}

.nes-mario::before {
  position: absolute;
  top: -6px;
  left: -6px;
  content: "";
  background: 0 0;
  width: 6px;
  height: 6px;
  color: #f81c2f;
  box-shadow: 30px 6px, 36px 6px, 42px 6px, 48px 6px, 54px 6px, 24px 12px,
    30px 12px, 36px 12px, 42px 12px, 48px 12px, 54px 12px, 60px 12px, 66px 12px,
    72px 12px, 24px 18px #65352b, 30px 18px #65352b, 36px 18px #65352b,
    42px 18px #ffbb8e, 48px 18px #ffbb8e, 54px 18px #000, 60px 18px #ffbb8e,
    18px 24px #65352b, 24px 24px #ffbb8e, 30px 24px #65352b, 36px 24px #ffbb8e,
    42px 24px #ffbb8e, 48px 24px #ffbb8e, 54px 24px #000, 60px 24px #ffbb8e,
    66px 24px #ffbb8e, 72px 24px #ffbb8e, 18px 30px #65352b, 24px 30px #ffbb8e,
    30px 30px #65352b, 36px 30px #65352b, 42px 30px #ffbb8e, 48px 30px #ffbb8e,
    54px 30px #ffbb8e, 60px 30px #000, 66px 30px #ffbb8e, 72px 30px #ffbb8e,
    78px 30px #ffbb8e, 18px 36px #65352b, 24px 36px #65352b, 30px 36px #ffbb8e,
    36px 36px #ffbb8e, 42px 36px #ffbb8e, 48px 36px #ffbb8e, 54px 36px #000,
    60px 36px #000, 66px 36px #000, 72px 36px #000, 30px 42px #ffbb8e,
    36px 42px #ffbb8e, 42px 42px #ffbb8e, 48px 42px #ffbb8e, 54px 42px #ffbb8e,
    60px 42px #ffbb8e, 66px 42px #ffbb8e, 30px 48px, 36px 48px #1560ad,
    42px 48px, 48px 48px, 54px 48px #1560ad, 18px 54px, 24px 54px, 30px 54px,
    36px 54px #1560ad, 42px 54px, 48px 54px, 54px 54px #1560ad, 60px 54px,
    66px 54px, 72px 54px, 12px 60px, 18px 60px, 24px 60px, 30px 60px,
    36px 60px #1560ad, 42px 60px #1560ad, 48px 60px #1560ad, 54px 60px #1560ad,
    60px 60px, 66px 60px, 72px 60px, 78px 60px, 12px 66px #aeaeac,
    18px 66px #aeaeac, 24px 66px, 30px 66px #1560ad, 36px 66px #fef102,
    42px 66px #1560ad, 48px 66px #1560ad, 54px 66px #fef102, 60px 66px #1560ad,
    66px 66px, 72px 66px #aeaeac, 78px 66px #aeaeac, 12px 72px #aeaeac,
    18px 72px #aeaeac, 24px 72px #aeaeac, 30px 72px #1560ad, 36px 72px #1560ad,
    42px 72px #1560ad, 48px 72px #1560ad, 54px 72px #1560ad, 60px 72px #1560ad,
    66px 72px #aeaeac, 72px 72px #aeaeac, 78px 72px #aeaeac, 12px 78px #aeaeac,
    18px 78px #aeaeac, 24px 78px #1560ad, 30px 78px #1560ad, 36px 78px #1560ad,
    42px 78px #1560ad, 48px 78px #1560ad, 54px 78px #1560ad, 60px 78px #1560ad,
    66px 78px #1560ad, 72px 78px #aeaeac, 78px 78px #aeaeac, 24px 84px #1560ad,
    30px 84px #1560ad, 36px 84px #1560ad, 54px 84px #1560ad, 60px 84px #1560ad,
    66px 84px #1560ad, 18px 90px #65352b, 24px 90px #65352b, 30px 90px #65352b,
    60px 90px #65352b, 66px 90px #65352b, 72px 90px #65352b, 12px 96px #65352b,
    18px 96px #65352b, 24px 96px #65352b, 30px 96px #65352b, 60px 96px #65352b,
    66px 96px #65352b, 72px 96px #65352b, 78px 96px #65352b;
  transform: rotate(0);
}
